* {
  box-sizing: border-box;
}

body {
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 100px 180px 100px 180px;
  border-radius: 10px;
  position: relative;
}

.chart-container {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: center;
}


.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
  font-family: 'Times New Roman', Times, serif;
}

.button {
  display: block;
  width: 250px;
  height: 40px;
  background-color: rgb(10, 10, 10);
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 40px;
  margin-bottom: 10px;
  border-radius: 9px;
  margin-top: 30px;

}

.button1 {
  display: block;
  width: 250px;
  height: 40px;
  background-color: rgb(37, 32, 70);
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 40px;
  margin-bottom: 10px;
  border-radius: 9px;
  margin-top: 30px;

}
.buttonBD {
  display: block;
  width: 250px;
  height: 40px;
  background-color: rgb(90, 94, 97);
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 40px;
  margin-bottom: 10px;
  border-radius: 9px;
  margin-top: 30px;

}

.arrow-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: rgb(5, 5, 5);
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  line-height: 50px;
  cursor: pointer;
}

#chart-type {
  margin-right: 320px;
}
a{
color: black;
}
table {
  border-collapse: collapse;
  width: 100%;
  height: 50%;
  border-radius: 20px;

}

th, td {
border: 1px solid black;
padding: 8px;
}

th {
background-color: #f2f2f2;
}

tr:nth-child(even) {
background-color: #dddddd;
}
.tables {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  }
.subtitles{
color: black;
font-size: 2rem;
margin-top: 1rem;
margin-bottom: 1rem;
  }